<script>

import Counter from "@/components/Counter.vue";
export default {
  data() {
    return {
      counters: {
        type: Object,
        required: true,
      },
      name: {
        type: String,
        required: true
      }
    }
  },
  methods: {
    update (value, key) {
      console.log(value,key)
    }
  }
}
</script>

<template>
    <div class="card teal">
        <div class="card-content">
            <div class="card-title">
                {{ name }}
            </div>
            <Counter v-for="(counter,key) in counters" :counter="counter" :key="key" v-on:update="update"/>
        </div>
    </div>
</template>

<style lang="scss">

.card {
    width: 400px;
    max-width: 100%;
}

</style>
