<script setup>
import { Head, Link } from '@inertiajs/vue3';
import CountersSlot from "@/Components/CountersSlot.vue";

defineProps({
    canLogin: {
        type: Boolean,
    },
    canRegister: {
        type: Boolean,
    },
    laravelVersion: {
        type: String,
        required: true,
    },
    phpVersion: {
        type: String,
        required: true,
    },
});

const slots = {
    "Alwyss": [{
        name: "Prison végétale",
        value: 1,
        default: 10,
        modificator: -1,
    }],
    "Circë": [{
        name: "Chant du héros",
        value: 10,
        default: 10,
        modificator: -1,
    }]
}
</script>

<template>
    <Head title="RPG counters" />

    <div class="slots">
        <CountersSlot v-for="(value, key) in slots" :name="key" :counters="value" ></CountersSlot>
    </div>

</template>

<style lang="scss">

.slots {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

</style>
