<script setup>
import Counter from "@/Components/Counter.vue";

const props = defineProps({
    counters: {
        type: Object,
        required: true,
    },
    name: {
        type: String,
        required: true
    }
});

const update = function (value, key) {
    console.log(value,key)
}

</script>

<template>
    <div class="card teal">
        <div class="card-content">
            <div class="card-title">
                {{ name }}
            </div>
            <Counter v-for="(counter,key) in counters" :counter="counter" :key="key" v-on:update="update"/>
        </div>
    </div>
</template>

<style lang="scss">

.card {
    width: 400px;
    max-width: 100%;
}

</style>
