<script setup>

const props = defineProps({
    counter: {
        type: Object,
        required: true,
    },
    key: {
        type: Number,
        required: true,
    }
});

const update = function (e) {
    props.counter.value = e.target.value;
    console.log(props.counter.value)
}
const add = function () {
    props.counter.value++;
    console.log(props.counter.value)
}
const remove = function () {
    props.counter.value--;
    console.log(props.counter.value)
}
const refresh = function () {
    props.counter.value=props.counter.default;
    console.log(props.counter.value)
}

</script>

<template>
    <div :class="{card: true, orange:counter.value===1}">
        <div class="card-content">
            <div class="card-title">
                {{ counter.name }}
            </div>
            <div class="input-field col s6">
                <input type="number" class="validate" min="0" step="1" id="value-{{ this._uid }}" v-model="props.counter.value"
                       @input="update">
                <label for="value-{{ this._uid }}" class="active">Value</label>
            </div>
            <div class="row">
                <button class="btn col s2" @click="remove">
                    <i class="material-icons">remove</i>
                </button>
                <button class="btn col s2" @click="add">
                    <i class="material-icons">add</i>
                </button>
                <button class="btn col s2" @click="refresh">
                    <i class="material-icons">refresh</i>
                </button>
            </div>

        </div>
    </div>
</template>

<style lang="scss">
.card {
    &.last {

    }
}

.value {
    text-align: right;
}
</style>
