<script>
import CountersSlot from "@/components/CountersSlot.vue";
import M from 'materialize-css';

export default {
  mounted() {
    M.AutoInit()
  }
}

const slots = {
  "Alwyss": [{
    name: "Prison végétale",
    value: 1,
    default: 10,
    modificator: -1,
  }],
  "Circë": [{
    name: "Chant du héros",
    value: 10,
    default: 10,
    modificator: -1,
  }]
}

</script>

<template>
  <div class="slots">
    <CountersSlot v-for="(value, key) in slots" :name="key" :counters="value" ></CountersSlot>
  </div>
</template>

<style lang="scss">

.slots {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

</style>
